<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yihe.dao.IUserRoleDao">
  <resultMap id="BaseResultMap" type="com.yihe.bean.UserRole">
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
  </resultMap>
  
  <sql id="Base_Column_List">
    user_id, role_id
  </sql>
  
  
  
  <insert id="insertSelective" parameterType="com.yihe.bean.UserRole">
    insert into user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <insert id="insertByBatch" parameterType="java.util.List">
    insert into user_role (user_id,role_id) 
     values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.userId,jdbcType=VARCHAR}, #{item.roleId,jdbcType=VARCHAR})
        </foreach>
  </insert>
  
  <delete id="deleteByUser">
      delete from user_role
        where user_id in 
         <foreach collection="list" item="uId" open="(" close=")" separator=",">
           #{uId}
         </foreach>
  </delete>
  
  <delete id="deleteByRole">
     delete from user_role
        where role_id in 
         <foreach collection="list" item="rId" open="(" close=")" separator=",">
           #{rId}
         </foreach>
      
  </delete>
  
  
</mapper>